body{
	font: 16px 'Raleway', "Helvetica Neue", sans-serif;
	background: url("../img/grey.png") repeat;
}

#container {
	margin: 0 auto;
	max-width: 75%;
}

p, h1, h2, h3{
	padding: 0;
	margin: 0;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	letter-spacing: -0.1em;
	padding: 0.25em;
	padding-bottom: 0;
	background-color: orange;
	color: white;
}

h2{
	font-family: 'Lobster', cursive;
	letter-spacing: 0.05em;
	color: #5CCCCC;
	padding: 0;
	margin: 0;
}

h3{
	font-family: 'Raleway', sans-serif;
	color: orange;
}

ul{
	padding-top: 0em;
	margin-top: 0em;
}

li{
	line-height: 1.3em;
}

section ul{
	list-style-type: disc;
}

section ul li:before{
	list-style-type: disc;
	color: #5CCCCC;
	padding-right: 0.5em;
}

section p:last-child{
	padding-bottom: 1em;
}

a{
	color: #476DD5;
	text-decoration: none;
	font-weight: bold;
}

section a:hover, div a:hover{
	letter-spacing: 0.25em;
}

section a:visited{
	color: #A66500;
}

article{
	border: 1px solid #ccc;
	padding: 0.4em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: rgba(255, 255, 255, 0.45);
}

article p{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

section article p:last-child{
	padding-bottom: 0;
}

nav ul{
	color: white;
	list-style-type: none;
	padding: 1em 0;
}

nav ul li{
	color: white;
	display: inline;
	font-size: 1.2em;
	padding: 0.5em;
	margin: 0.5em;
}

nav ul li:first-child{
	display: inline;
	padding-left: 0em;
	margin-left: 0em;
}
	
nav ul li a{
	display: inline;
	padding: 0.5em 1em;
	color: white;
	background: #5CCCCC;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

nav ul li a:hover{
	padding: 0.5em 1em;
	color: black;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

footer{
	font-family: 'Raleway', sans-serif;
	font-size: 0.75em;
	padding: 2em;
	margin-top: 2em;
	background-color: #5CCCCC;
	color: white;
	display: block;
	clear: both;
	margin-bottom: 0;
}

img{
	display: inline;
	float: left;
	margin: 0.5em 0.5em 1em 0;
	padding: 0.5em;
	background-color: white;
	border: black 1px solid;
}

section img:last-child{
	margin-bottom: 3em;
}

.photos{
	margin: 0 auto;
	max-width: 560px;
}

.photos img{
	padding: 0.5em;
	margin-bottom: 0.25em;
	background-color: white;
	border: black 1px solid;
	width: 100%;
}

.photos p{
	padding-top: 0;
	padding-bottom: 2em;
}

.category{
	color: orange;
}

.undo{
	border: none;
	padding: 0em;
	margin: 0em;
	background-color: transparent;
}

.centered{
	text-align: center;
}

.clearfix{
	clear: both;
}

.title{
	padding: 0;
}

#widen{
	font-size: 2em;
	letter-spacing: 0.05em;
	color: #5CCCCC;
}

#intro{
	font-size: 1.25em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-top: 2px dashed #ccc;
	border-bottom: 2px dashed #ccc;
}

#show{
	font-size: 1.25em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-top: 2px dashed #ccc;
	border-bottom: 2px dashed #ccc;
}

#hide{
	display: none;
}

#noborder{
	display: block;
	background-color: transparent;
}

#depad{
	margin-bottom: 0.2em;
}

.caption{
	font-size: 0.85em;
	background-color: rgba(255, 255, 255, 0.55);
	padding: 0.35em;
	border-bottom: 3px solid #ccc;
	margin-bottom: 2em;

}